# File system files
.DS_Store

# local env files
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Container directories and files
node_modules
/dist

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
