.cursor-pointer {
  cursor: pointer;
}

.min-width-40 {
  min-width: 40px !important;
}

.overflow-x {
  overflow-x: auto;
}

.overflow-x::-webkit-scrollbar {
  display: none;
}

.text-capitalize-sentence:first-letter{
  text-transform: capitalize;
}

.max-height-400 {
  max-height: 400px;
}

.v-timeline--align-top .v-timeline-item__dot {
  margin-top: 10px;
}