pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.background-wallpaper-image {
  background-image: url('~@/assets/wallpapers/single-component.jpeg');
  background-size: cover;
  height: calc(100vh - 56px);
}

.background-wallpaper-subtle-image {
  background-image:
          radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(4,0,1,0.25) 100%),
          url('~@/assets/wallpapers/default.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: calc(100vh - 56px);
}

.text-no-transform {
  text-transform: none;
}