// Theme colors
.theme--dark.v-stepper {
  background: #1e1e1e;
}

.v-card__text,
.v-card__subtitle {
  color: inherit !important;
}

// Table
.v-data-table > .v-data-table__wrapper > table > thead > tr > th > span {
  color: white;
}

.v-data-table>.v-data-table__wrapper tbody tr:first-child:hover td:first-child,
.v-data-table>.v-data-table__wrapper tbody tr:first-child:hover td:last-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

// Tree view
.single-dir-view .v-treeview-node__content {
  margin-left: -10px !important;
}

.v-treeview-node__toggle {
  margin-left: 12px !important;
}

//.v-treeview-node.v-treeview-node--rounded .v-treeview-node__root, .v-treeview-node.v-treeview-node--rounded .v-treeview-node__root:before {
//  border-radius: 4px!important;
//  border-top-left-radius: 24px !important;
//  border-top-right-radius: 24px !important;
//  border-bottom-right-radius: 4px !important;
//  border-bottom-left-radius: 4px !important;
//}

// Layout
.row {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
