// Theme colors
.theme--dark.v-stepper {
  background: #1e1e1e;
}

.v-card__text,
.v-card__subtitle {
  color: inherit !important;
}

// Nav
.v-bottom-navigation--fixed,
.v-app-bar--fixed.grey.darken-4 {
  opacity: .95;
}

// Table
.v-data-table > .v-data-table__wrapper > table > thead > tr > th > span {
  color: white;
}

.v-data-table>.v-data-table__wrapper tbody tr:first-child:hover td:first-child,
.v-data-table>.v-data-table__wrapper tbody tr:first-child:hover td:last-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

// Tree view
.theme--dark.v-treeview--hoverable .v-treeview-node__root:hover:before,
.theme--dark.v-treeview .v-treeview-node--click>.v-treeview-node__root:hover:before {
  border-radius: 4px;
}

button.v-icon.notranslate.v-treeview-node__toggle.v-icon--link.mdi.mdi-menu-down.theme--dark.v-treeview-node__toggle--open {
  margin-left: 0;
}

.single-dir-view .v-treeview-node__root .v-treeview-node__level:first-of-type {
  width: 4px;
}

// Layout
.row {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
