// Theme colors
.theme--dark.v-stepper {
  background: #1e1e1e;
}

// Headers
.display-3 {
  text-shadow: 0 0 5px #aabacd, 0 0 5px #aabacd, 0 0 5px #aabacd;
}

// Table
.v-data-table > .v-data-table__wrapper > table > thead > tr > th > span {
  color: white;
}

.v-data-table>.v-data-table__wrapper tbody tr:first-child:hover td:first-child,
.v-data-table>.v-data-table__wrapper tbody tr:first-child:hover td:last-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

// Tree view
.single-dir-view .v-treeview-node__root {
  padding-left: 0 !important;
}

.single-dir-view .v-treeview-node__content {
  margin-left: -10px !important;
}

.single-dir-view .v-treeview-node__toggle {
  margin-left: 12px !important;
  margin-right: 15px !important;
}

.theme--dark.v-treeview--hoverable .v-treeview-node__root:hover:before,
.theme--dark.v-treeview .v-treeview-node--click>.v-treeview-node__root:hover:before {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

// Layout
.row {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

// Stepper
.v-stepper--vertical {
  padding-bottom: 14px;
}