.v-data-table > .v-data-table__wrapper > table > tbody > :not(.v-data-table__empty-wrapper) {
  cursor: pointer;
}

.v-data-table > .v-data-table__wrapper > table > thead > tr > th > span {
  color: white;
}

.v-data-table>.v-data-table__wrapper tbody tr:first-child:hover td:first-child,
.v-data-table>.v-data-table__wrapper tbody tr:first-child:hover td:last-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

@media only screen and (max-width: 600px) {
  .extended .v-data-table-header {
    display: none;
  }
}
